body {
    background-color: black;
}

* {
    color: white;
    text-align: center;
    margin: 0px;
}

p {
    color: red;
}

img {
    border-radius: 5000px;
    border: solid 2px red;
    width: 200px;
}

h1, h2 {
    font-family: fantasy;
    margin: 40px 0 0 0;
}

a {
    font-size: 24px;
}

ol, ul {
    display: inline-block;
}

ol li {
    color: yellow;
}

ul li {
    color: green;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: fr fr;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: darkblue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

footer {
    margin: 40px;
}